body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050210;
    height: 100vh;
    margin: 0;
}

.circle {
    position: relative;
    width: 60vh;
    height: 60vh;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle::after {
    position: absolute;
    content: '';
    top: 35px;
    right: 35px;
    bottom: 35px;
    left: 35px;
    background-color: black;
    border-radius: 50%;
}

.circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

.circle span:nth-child(1) {
    filter: blur(20px);
}

.circle span:nth-child(2) {
    filter: blur(30px);
}

.circle span:nth-child(3) {
    filter: blur(40px);
}

.circle span:nth-child(4) {
    filter: blur(50px);
}
